@import url('../css/main.css');


.content-section {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.active {
    display: block;
}

.error-message {
    color: red;
  }
  
  form input.error,
  form select.error {
    border-color: #f91919;
    background: #f9f0f1;
  }

  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 0.25rem solid var(--red);
}


#navbar .nav-link {
    width: 15.5rem;
    color: white;
    background-color: var(--red);
    border-color: var(--red);
    border-radius: 1.25rem;
    margin: 1rem 1.6rem 0.7rem 1.6rem;
    padding: 0.6rem; 
    font-size: calc(0.5vw + 0.6rem); 
}

#navbar .nav-link:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.4);
}