@import url('../css/main.css');

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
}

.statistics-page-container {
    display: grid; /* Using grid layout for the container */
    /*grid-template-areas:*/
    /*    "title"*/
    /*    "graph";*/
    grid-template-areas:
"title title title"
"y-label graph space-1"
"space-2 x-label space-3";
    grid-template-columns: 1fr 10fr 1fr; /* 3 columns: center column is wider */
    grid-template-rows: 1fr 5fr 1fr;
    /*grid-template-rows: 1fr 6fr; !* 3 rows: center row is taller *!*/
    height: 100vh; /* Full viewport height */
    padding-left: 5rem;
}

.header-container {
    /*grid-column: 2; !* Position the header in the center column *!*/
    /*grid-row: 1; !* Position the header in the top row *!*/
    grid-area: title;
    text-align: center; /* Center the text */
    display: flex;
    align-items: center;
    justify-content: center;
}

.graph-wrapper {
    /*grid-column: 2;*/
    /*grid-row: 2;*/
    grid-area: graph;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.625em;

}

.graph-container {
    display: flex;
    background: #f5f5f5;
    width: 100%;
    height: 100%;
}

.y-axis {
    width: 3.125em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    padding-right: 0.3125em;
}

.bar-chart {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    background: #f9f9f9;
}

.bar {
    flex: 1;
    margin: 0 0.3125em;
    background-color: #3498db;
    text-align: center;
    transition: all 0.3s ease;
}

.bar:hover {
    background-color: #2980b9;
}

.bar-label {
    color: white;
    font-size: 0.75em;
}

.x-axis {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0.625em;
    margin-left: 3.125em;
    text-align: center;
}

.x-axisLabel {
    /*grid-column: 2;*/
    /*grid-row: 3;*/
    grid-area: x-label;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.625em;
}

.y-axisLabel {
    /*grid-column: 1;*/
    /*grid-row: 2 / 3;*/
    grid-area: y-label;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    /*transform: rotate(-90deg);*/
}

.y-label {
    text-align: center;
    transform: rotate(-90deg);
}